__pycache__
Client.Dockerfile
Server.Dockerfile
docker-compose.yml
test.py
test2.py
testsound.wav
demo/
silero-vad-basics/
abhi.wav
audiotest.wav
client.py
server.py
serverToClient.wav
GetStreamsOfAudio.py
bytesToMediaStreamTrack.py
client_copy.py
one.sql
outputSpeech.wav
output_audio.wav
receivedFromServer.wav
received_audio.wav
server_copy.py
simplecase/
test-audios/